{% extends 'base.html' %}

{% block content %}

    <div class="list-group align-items-center">
        <h3>{{ question }}</h3>
        <div>
            <form method="POST" id="formpoll">
                {% csrf_token %}

                <input type="radio" name="option" id="option1" value="option1" required>
                <label for="option1"><h4>{{opt1}}</h4></label>
                <br>
                <input type="radio" name="option" id="option2" value="option2">
                <label for="option2"><h4>{{opt2}}</h4></label>
                <br>
                <input type="radio" name="option" id="option3" value="option3">
                <label for="option3"><h4>{{opt3}}</h4></label>
                <br>
                <input type="radio" name="option" id="option4" value="option4">
                <label for="option4"><h4>{{opt4}}</h4></label>
                <br>
                <br>
                <input type="submit" name="submit" id="submitbtn">
            </form>

        </div>

    </div>



    
{% endblock %}